
body {
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: medium;
  color: white;
  background-color: #cccccc;
}

p {
  border-style: none;
  padding: 10px;
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  font-size: medium;
  background-color: black;
  font-family: Arial,Helvetica,sans-serif;
}
